.section {
    width:100%;
    padding: 10px 0px;
    border: 1px solid var(--semi-dark);
    border-right: none;
    border-left: none;
    color: var(--primary-grey);
}
.section-heading {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content:space-between
}
.heading {
    font-weight: 500;
    font-size: 13px;
}
.heading:hover {
    color: rgb(90, 90, 204)
}